<h1 id="title"> HOME </h1>
<link rel="stylesheet" href="/styles/styles.css">
<table>
    <tr>
        <th>title list</th>
    </tr>
    <% @questions.each do |question| %>
    <tr>
        <td><%= question.title %></td>
        <td><%= link_to 'show', question_path(question) %></td>
        <td><%= link_to 'edit', edit_question_path(question) %></td>
        <td><%= link_to 'destroy', question_path(question), data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
</table>
<%= link_to 'new question', new_question_path, class: 'new-question-link' %>
