<h1> show </h1>
<p>
    <strong>title:</strong>
    <%= @question.title %>
</p>
<p>
    <strong>name:</strong>
    <%= @question.name %>
</p>
<p>
    <strong>content:</strong>
    <%= @question.content %>
</p>
<%= link_to 'edit', edit_question_path(@question) %>
<%= link_to 'home', questions_path %>


